@font-face {
  font-family: 'AnarchyBook';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Anarchy-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Anarchy-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Anarchy-Book.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Anarchy-Book.woff') format('woff'), /* Modern Browsers */
}

html {
  box-sizing: border-box;
  font-family: Anarchy-Book;
  font-size: 16px;
  min-height: 100%;
}

body {
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-size: inherit;
  margin: 0;
  padding: 0;
}
